@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/*
0 - 600px: Mobile phone
600-900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800]px: Normal
18000x +: Big desktop

$breakpoint arguement choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.section__heading {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center; }

.container {
  display: grid;
  grid-template-columns: [full-start] repeat(12, minmax(0, 14rem)) [full-end]; }

::selection {
  background-color: #e71575;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #4a4a4a; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #d84989, #880942);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-size: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #778; }
  .btn--white::after {
    background-color: #fff; }

.btn--pink {
  background-color: #e71575;
  color: #fff; }
  .btn--pink::after {
    background-color: #e71575; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 2.6rem;
  color: #e71575;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #e71575;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #e71575;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        width: 33.333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: 0;
      position: relative; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          z-index: 100; } }
    .composition__photo--p2 {
      right: 0;
      top: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          z-index: 100; } }
    .composition__photo--p3 {
      left: 12%;
      top: 40%;
      position: absolute; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 6%;
          left: 33%;
          transform: scale(1.3);
          z-index: 120; } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 200; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  backface-visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .feature-box {
      margin: 0 5rem;
      padding: 5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #d84989, #880942);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem; }
  .card__picture {
    grid-column: 1 / -1;
    background-size: cover;
    background-position: center;
    height: 30rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    transition: all .8s ease-in-out; }
    .card__picture:hover {
      transform: scale(1.15); }
    @media only screen and (max-width: 56.25em) {
      .card__picture {
        height: 50rem; } }
    .card__picture--1 {
      background-image: url(../img/tour-6.jpeg); }
    .card__picture--2 {
      background-image: url(../img/tour-5.jpeg); }
    .card__picture--3 {
      background-image: url(../img/tour-8.jpeg); }
    .card__picture--4 {
      background-image: url(../img/tour-3.jpeg); }
  .card__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 25rem;
    right: 2rem;
    width: 60%; }
    @media only screen and (max-width: 56.25em) {
      .card__heading {
        font-size: 2.5rem;
        top: 42rem; } }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(231, 21, 117, 0.85), rgba(216, 73, 137, 0.85)); }
  .card__details-duration, .card__details-type, .card__details-price, .card__details-private {
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .card__details-duration svg, .card__details-type svg, .card__details-price svg, .card__details-private svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: #d84989; }
    .card__details-duration p, .card__details-type p, .card__details-price p, .card__details-private p {
      font-size: 2.5rem;
      margin-left: 1.5rem;
      color: #4a4a4a; }
  .card__details-title {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    margin-left: 2rem;
    color: #3f3f3f; }
  .card__details-rating {
    grid-column: 1 / -1;
    margin-left: 2rem; }
    .card__details-rating span {
      font-size: 2.5rem;
      color: #4a4a4a; }
  .card__details-star {
    width: 2.5rem;
    height: 2.5rem;
    fill: #d84989; }
  .card__cta {
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  opacity: .75;
  width: 65%;
  transform: skewX(-12deg);
  padding: 8rem 10rem 5rem 10rem; }
  .review__text {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .review__user {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .review__user {
        transform: skewX(0); } }
  .review__photo {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    margin-right: 2.5rem; }
  .review__user-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem; }
  .review__user-date {
    font-size: 1.4rem; }
  .review__rating {
    color: #e71575;
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 2.5rem; }
  .review::before {
    content: "\201C";
    position: absolute;
    left: 1rem;
    top: .1rem;
    font-size: 15rem;
    color: #e71575;
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }
  @media only screen and (max-width: 56.25em) {
    .review {
      width: 80%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .review {
      transform: skewX(0); } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .45; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #e71575; }
  .form__input:focus:invalid {
    border-bottom: 3px solid darkorange; }
  .form__input::-webkit-input-placeholder {
    color: #4a4a4a; }

.form__label {
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  transform: translateY(-9rem); }

.form__input:placeholder-shown + .form__label {
  opacity: 1;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block;
  position: relative;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #e71575;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e71575;
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.header {
  height: 95vh;
  grid-column: full-start / full-end;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(216, 73, 137, 0.2), rgba(136, 9, 66, 0.4)), url(../img/header-2.jpg);
  background-size: cover;
  background-position: center 90%; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 6.5rem; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  grid-column: full-start / full-end;
  background-color: #3f3f3f;
  padding: 5rem;
  padding-bottom: 2rem;
  font-size: 2.4rem;
  color: #f7f7f7; }
  .footer__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    .footer__social-media svg {
      height: 4.5rem;
      width: 5.5rem;
      transition: all linear .3s;
      fill: #778; }
  .footer__item:not(:last-child) {
    margin-right: 5rem; }
  .footer__item:nth-child(2) {
    margin-right: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 3rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 1rem; } }
  .footer__logo {
    width: 15rem;
    height: 15rem; }
  .footer__link:hover svg, .footer__link:active svg {
    fill: #e71575; }
  .footer__copyright {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    color: #778; }
    .footer__copyright span {
      color: #e71575; }
    .footer__copyright::before, .footer__copyright::after {
      content: "";
      display: block;
      background-color: currentColor;
      height: 1px; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        margin: 0; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#d84989, #880942);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.5, -0.46, 0, 1.54); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #e71575;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
  opacity: .85; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #3f3f3f;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.about {
  grid-column: full-start / full-end;
  background-color: #f7f7f7;
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-template-columns: 1fr; } }

.features {
  grid-column: full-start / full-end;
  padding: 10rem;
  background-image: url(../img/header.jpeg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .features {
      grid-template-columns: 1fr;
      padding: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .features {
      padding: 5rem 0; } }

.tours {
  grid-column: full-start / full-end;
  background-color: #f7f7f7;
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .tours {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 500px) {
    .tours {
      padding: 10rem 1rem; } }
  .tours__heading, .tours__cta {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center; }

.reviews {
  grid-column: full-start / full-end;
  position: relative;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10rem;
  justify-items: center; }
  @media only screen and (max-width: 56.25em) {
    .reviews {
      padding: 10rem 0; } }

.booking {
  grid-column: full-start / full-end;
  padding: 15rem 10rem;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .booking {
      padding: 10rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .booking {
      padding: 10rem 5rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 100%), url(../img/review-1.jpg);
  background-size: cover;
  background-position: center 70%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/header-1.jpeg);
      background-position: top; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .book__form {
        width: 100%; } }
