$color-primary: #e71575;
$color-primary-light: #d84989;
$color-primary-dark: #880942;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #778;
$color-grey-dark-2: #4a4a4a;
$color-grey-dark-3: #3f3f3f;

$color-white: #fff;
$color-black: #000;


//Font
$default-font-size: 1.6rem;
$btn-text-font-size: 2.6rem;


//BORDER-RADIUS
$border-radius-small: 3px;