.footer {
    grid-column: full-start / full-end;
    background-color: #3f3f3f;
    padding: 5rem;
    padding-bottom: 2rem;
    font-size: 2.4rem;
    color: $color-grey-light-1;

    &__social-media {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        svg {
            height: 4.5rem;
            width: 5.5rem;
            transition: all linear .3s; 
            fill: $color-grey-dark;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: 5rem;
        }
        &:nth-child(2) {
            margin-right: 3.5rem;
        }
        
    }
    

    @include respond(tab-port) {
        padding: 3rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            margin-bottom: 1rem;
        }
    }

    &__logo {
        width: 15rem;
        height: 15rem;
    }

    &__link {

        &:hover,
        &:active {

            svg {
                fill: $color-primary;                
            }
           
        }
    }

    &__copyright {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        color: $color-grey-dark;

        span {
            color: $color-primary;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            background-color: currentColor;
            height: 1px;
        }
        @include respond(tab-port) {
            margin: 0;
        }
    }
}