.header { 
    height: 95vh;
    grid-column: full-start / full-end;
    position: relative;
    
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.2), rgba($color-primary-dark, 0.4)),
    url(../img/header-2.jpg);
    //background-color: $color-grey-light-1;
    background-size: cover;
    background-position: center 90%;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 6.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

