.card {
    //FUNCTIONALITY

        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 4rem;

    &__picture {
        grid-column: 1 / -1;
        background-size: cover;
        background-position: center;
        height: 30rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        transition: all .8s ease-in-out;

        &:hover {
            transform: scale(1.15);
        }

        @include respond(tab-port) {
            height: 50rem;
        }

        &--1 {
            background-image: url(../img/tour-6.jpeg);
        }

        &--2 {
            background-image: url(../img/tour-5.jpeg);
        }

        &--3 {
            background-image: url(../img/tour-8.jpeg);
        }

        &--4 {
            background-image: url(../img/tour-3.jpeg);
        }
        
    }

    &__heading {
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 25rem;
        right: 2rem;
        width: 60%;

        @include respond(tab-port) {
            font-size: 2.5rem;
            top: 42rem;
        }
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        background-image: linear-gradient(to right bottom, 
        rgba($color-primary, .85), 
        rgba($color-primary-light, .85));

    }

    &__details-duration,
    &__details-type,
    &__details-price,
    &__details-private{
        margin-left: 2rem;
        display: flex;
        align-items: center;
        svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: $color-primary-light;
        }

        p {
            font-size: 2.5rem;
            margin-left: 1.5rem;
            color: $color-grey-dark-2;
        }

    }

    &__details-title {
        grid-column: 1 / -1;
        font-size: 2.5rem;
        margin-left: 2rem;
        color: $color-grey-dark-3;    
        
    }

    &__details-rating {
        grid-column: 1 / -1;
        margin-left: 2rem;
        span {
        font-size: 2.5rem;
        color: $color-grey-dark-2;
        }
    }

    &__details-star {
        width: 2.5rem;
        height: 2.5rem;
        fill: $color-primary-light;
    }

    &__cta {
        grid-column: 1 / -1;
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }

}